div.ticket-result-jumbotron{
  background-color: #5F2EEA;
}

.ticket-result-box{
  width: 967px;
  height: 640px;
  background: #F5F6F8;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

h3.ticket-result-title{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #14142B;
  text-align: center;
  padding-top: 56px;
}

button.download{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
  border: 1px solid #4E4B66;
  box-sizing: border-box;
  border-radius: 4px;
  width: 10vw;
  height: 3vw;
  
}

button.download:hover{
  background-color: #5F2EEA;
  color: white;
  border: none;
}

button.print{
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
  border: 1px solid #4E4B66;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  width: 10vw;
  height: 3vw;
  
}

button.print:hover{
  background-color: #5F2EEA;
  color: white;
  border: none;
}