.boxs{
  display: flex;
  overflow-x: auto;
}
.boxs::-webkit-scrollbar{
  border: 0.5px rgba(95, 46, 234, 1) solid;
  border-radius: 8px;
}
.boxs::-webkit-scrollbar-thumb {
  background: rgba(95, 46, 234, 1);
  border-radius: 8px;
}
.boxs::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 195, 195);
}

.box{
  display: inline-flex;
  min-width: 223px;
  height: 452px;
  border: 0.5px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.content-box{
  /* text-align: center; */

  
}

h5{
  color: rgba(20, 20, 43, 1);
  font-family: 'Mulish';
  font-size: 13px;
  font-weight: 300;
  text-align: center !important;
}

p{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center !important;
}

button.btn-upcoming{
  color: rgba(95, 46, 234, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(95, 46, 234, 1);
  width: 159px;
  height: 33px; 
  margin-top: 5px;
  margin-left: 31px;
  padding-bottom: 2.1vw;
}

.img-movie{
  width: 159px;
  height: 244px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 31px;
}


  
  /* .box .upcoming1{
    background-image: url(./assets/upcoming-1.png);
    width: 159px;
    height: 244px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  } */