div.jumbotron-now-showing-page{
  background-color: white;
}


h1.tittle-now-showing-page{
  font-family: Mulish;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 114%;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(95, 46, 234, 1);
  /* margin-top: 55px; */
  margin-bottom: 20px;
}

button.btn-page-now-showing{
  background: #5F2EEA;
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 0px 8px 16px rgba(95, 46, 234, 0.24);
  border-radius: 8px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #FFFFFF;
  
  /* margin-left: 10px; */
}

input.form-search{
  width: 750px;
  background: rgba(58, 61, 66, 0.1);
  border-radius: 12px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


button.btn-asc{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  width: 67px;
  height: 37px;
  margin-bottom: 10px;
  background-color: white;
  position: relative;
  top: 50px;
  float: right;
  right: 80px;
}

button.btn-asc:focus{
  background:#5F2EEA;
  /* color: white; */
}

img.up{
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

img.down{
  width: 100%;
  height: 100%;
  margin-top: -15px;
  transform: scaleY(-1);
}