form input.form-control{
    width: 100%;
    height: 64px;
    /* padding-left: 10px; */
    background-color: #FCFDFE;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
}

form label.label{
    font-family: 'Inter';
    font-size: 1.2vw;
    font-weight: 600;
    margin-left: -1.1vw;
}