/* .jumbotron .profile-jumbo{
    background-color:red;
} */






/* DESKTOP VERSION */
@media (min-width: 992px) {

    .card-profile2{
      width: 750px;
      height: 801px;
      background: white;
      border-radius: 6px;
      
    }
    .poster-border{
      border: 1.5px solid black;
      box-sizing: border-box;
      border-radius: 6px;
      width: 249px;
      height: 344px;
      display: flex;
      position: absolute;
      left: 55px;
      top: 56px;
    }

    input.form-img{
      background-color: transparent;
      border: none;
      position: relative;
      left: 400px;
    }

    /* img.movie-poster{
        width: 177px;
        height: 272px;
        margin-top: 92px;
        margin-left: 76px;
    } */
    div.movie-poster{
      background-image: url(./assets/default-image.png);
      width: 177px;
      height: 272px;
      margin-top: 92px;
      margin-left: 76px;
    }
  
    h5.title-detail{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 32px;
      color: rgba(20, 20, 43, 1);
      margin-top: 56px;
      margin-left: -552px;
    }
  
    .line-5{
      border: 1px solid #DEDEDE;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }
  
    h5.text-form{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      text-align: left !important;
      margin-left: -9vw;
      margin-bottom: 10px;
    }

    h5.text-date{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -180px;
      margin-bottom: 10px;
    }
  
    h5.text-form-phone{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -395px;
      margin-bottom: 10px;
    }

    h5.text-duration{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -100px;
      /* margin-right: auto; */
      margin-bottom: 10px;
      position: relative;
      left: 110px;
    }

  
   .profile-jumbo input{
      width: 320px;
      height: 45px;
      background: #FCFDFE;
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      border-radius: 4px;
      padding-left: 20px;
      margin-left: -120px !important;
      margin-bottom: 10px !important;
    }

    input.form-control-sm{
      width: 182px;
    }
    input.form-control-sm2{
      width: 88px;
      position: relative;
      left: 130px;
    }
    input.form-control-sm3{
      width: 88px;
      position: relative;
      left: 260px;
    }

    input.form-detail{
      /* margin-left: 40px; */
      position: relative;
      left: 170px;
      width: 248px;
    } 
    input.form-detail2{
      /* margin-left: 40px; */
      position: relative;
      left: 70px;
      width: 350px;
    } 

    h5.text-director{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -185px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  
    h5.text-casts{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -400px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    h5.text-synopsis{
      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #4E4B66;
      margin-left: -570px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    input.form-synopsis{
      /* margin-left: 40px; */
      position: relative;
      left: 170px;
      width: 640px;
    } 
  
    button.btn-update{
      border: 1px solid #DEDEDE;
      box-sizing: border-box;
      background: #5F2EEA;
      border-radius: 4px;
      color: #F5F6F8;
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
      width: 360px;
      height: 56px;
      margin-top: 56px;
      margin-left: 45px;
    }
  

    .card-profile{
      width: 328px;
      height: 437px;
      background: white;
      box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
      border-radius: 6px;
      position: absolute;
    }
    .card-profile3{
      width: 328px;
      height: 284px;
      background: white;
      box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
      border-radius: 6px;
      position: relative;
      top: 500px;
    }

    .card-profile button.btn-city{
      background: #EFF0F6;
      border-radius: 16px;
      width: 230px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 56px;
    }
  
    .card-profile button.cinema-box{
      background: #FCFDFE;
      box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
      border-radius: 16px;
      border: none;
      height: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      /* margin-top: 30px; */
    }

    .card-profile button.cinema-box:focus{
      border: 2px solid #5F2EEA;
    }
    

    .card-profile3 h3.title-showtime{
      position: relative;
      top: -40px;
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.25px;
      color: #000000;
      margin-top: 25px;
    }

    .card-profile3 button.btn-date{
      background: #EFF0F6;
      border-radius: 16px;
      width: 230px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

    /* form.date-pick DatePicker{
      width: 100px !important;
    } */

    button.time{
      background: #FCFDFE;
      box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.08);
      border-radius: 16px;
      border: none;
      height: 74px;
    }

    button.time:focus{
      border: 2px solid #5F2EEA;
    }
    
    p.time-text{
      font-family: Mulish;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 23px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.75px;
      color: #4E4B66;
      margin-top: auto;
      margin-bottom: auto;
    }

    input.input-cinema{
      border: none;
      outline: none;
      width: fit-content;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 40px;
      background: #FCFDFE;
      font-family: Mulish;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      
    }

    input.input-date{
      border: none;
      outline: none;
      width: fit-content;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
      background: #FCFDFE;
      font-family: Mulish;
      font-style: normal;
      font-weight: 800;
      font-size: 14px;
      margin-top: -10px;
    }
  
  
  } 