/* .jumbotron .profile-jumbo{
    background-color:red;
} */


.card-profile{
  width: 328px;
  height: 783px;
  background: white;
  box-shadow: 0px 8px 32px rgba(186, 186, 186, 0.08);
  border-radius: 6px;
  position: absolute;
}

.card-profile2{
  width: 750px;
 
  height: 871px;
  background: white;
  border-radius: 6px;
  
}

.img-profile{
  width: 156px;
  height: 136px;
  background-image: url(./assets/Ellipse\ 11.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

h5.teks1{
  color: rgba(20, 20, 43, 1);
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  margin-top: 20px;
}

h6.teks2{
  color: rgba(78, 75, 102, 1);
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: -9px;
}

.line{
  width: 328px;
  border: 1px solid #DEDEDE;
  margin-top: 25px;
}

.teks3{
  margin-top: 35px;
  margin-left: 49px;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: rgba(78, 75, 102, 1);
}

.img-card{
  background-image: url(./assets/Rectangle\ 571.png);
  width: 298px;
  height: 165px;
  margin-left: 13px;
}

.teks4{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #4E4B66;
  margin-top: 30px;
  margin-left: 49px;
}

.line-2{
  background: #F5F6F8;
  box-shadow: inset 0px 2px 4px rgba(17, 17, 17, 0.16);
  border-radius: 8px;
  width: 248px;
  height: 16px;
  margin-left: auto;
  margin-right: auto;
}
.line-3{
  background: #5F2EEA;
  box-shadow: inset 0px 2px 4px rgba(17, 17, 17, 0.16);
  border-radius: 8px;
  width: 126px;
  height: 16px;
  position: relative;
  top: -15px;
  left: 40px;
}
.title-card{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  color: rgba(20, 20, 43, 1);
  margin-left: 32px;
  padding-top: 36px;
  /* margin-top: 32px; */
}

.line-4{
  width: 750px;
  border: 1px solid #DEDEDE;
  margin-top: 25px;
}

h5.title-detail{
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(20, 20, 43, 1);
  margin-top: 56px;
  margin-left: 32px;
}

.line-5{
  border: 1px solid #DEDEDE;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}